#statsTable {
    height: 375px;
    width: 225px;
    margin-top: 20px;
}

.statsRow td{
    width: 43px;
    height: 47px;
}

/* .skill div {
    display: inline;
} */
/* .statsItem img {
    width:
} */